/* GLOBAL */
* {
	scroll-behavior: smooth;
}
input,
button,
a,
select {
	box-shadow: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}
p {
	margin-bottom: 0;
}
ul{
	margin: 0;
	padding: 0;
}
::selection {
	background: #d6da0b;
	color: #000;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: rgba(50, 78, 161, 1);
	border-radius: 10px;
}
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
/* SCROLL */
.scroll-btn {
	position: fixed;
	bottom: 20px;
	left: 20px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #d6da0b;
	box-shadow: 0 0 15px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	opacity: 0;
	transition: all 0.5s;
}
.scroll-btn:hover {
	background: #fff;
	color: #000;
}
.fadeIn {
	opacity: 1;
	transform: translateY(0);
}
/* NavBar */
.menu {
	display: none;
}
.navbar-brand {
	font-size: 2.5em;
	font-weight: bolder;
	font-family: Lalezar;
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-brand:focus {
	outline: none !important;
}
.areas,
.search{
	margin-right: 35px;
}
.login button{
	border-radius: 50px;
	font-weight: bold;
}
.sell a{
	margin-left: 10px;
	border-radius: 50px;
	font-weight: bold;
}
.sell i{
	margin-left: 10px;
}
.sell button{
	border-radius: 50px;
	font-weight: bold;
}
.areas{
	margin-top: 30px;
	margin-right: 0;
	width: 350px;
}
.areas select {
	border-radius: 50px;
	border: 2px solid #000;
}
.areas select:focus {
	border-color: #d6da0b;
}
.areas option{
	font-size: 1.2em;
	font-weight: 300;
	font-family: Rakkas;
}
.areas select:first-child{
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
.areas select:last-child{
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.search input {
	width: 450px;
	border-radius: 50px;
	font-weight: bold;
}
.areas ::-webkit-scrollbar {
	display: none;
}
.areas option {
	padding: 10px 0 !important;
}
.areas option:hover {
	background: #d6da0b;
	color: #000;
}
.lang select{
	border-radius: 50px;
	width: 100px;
	height: 40px;
	font-weight: bold;
}
.fixed{
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 99999;
	transition: all 0.5s;
}
.nav-data{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
.modal-footer{
	justify-content: space-between;
}
.modal-body .modal-footer{
	padding: 0;
	padding-top: 20px;
}
.modal-header{
	justify-content: space-between;
}
.modal-header .btn-close{
	margin: 0;
}
.form-check{
	display: flex;
	padding-left: 0;
	align-items: center;
	justify-content: center;
}
.form-check label{
	margin-left: 10px;
}
.form-group label{
	margin-bottom: 10px;
}
.form-group input{
	margin-bottom: 10px;
}
/* SLOGAN */
.slogan {
	background: linear-gradient(
		210deg,
		rgba(17, 188, 232, 1) 0%,
		rgba(50, 78, 161, 1) 100%
	);
	height: 200px;
	width: 100%;
}
/* Categories */
.categories {
	padding: 50px 0;
}
.cat-item-icon {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.cat-item-icon i {
	font-size: 1.7em;
	color: #fff;
}
.cat-item h6 {
	margin-top: 10px;
	text-align: center;
}
/* PRODUCT List */
.product-item {
	box-shadow: 0 0 25px #000;
	border-radius: 50px;
	margin-bottom: 30px;
	width: fit-content;
}
.product-thumb img {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
.product-info{
	background-color: #fff;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	padding: 10px;
}
.product-texts span {
	font-size: 0.8em;
	font-weight: 400;
	color: #000;
}
.time span{
	padding-right: 5px;
}
.location span{
	padding-right: 5px;
}
.product-title {
	font-weight: bolder;
	padding-bottom: 15px;
	text-align: right !important;
}
.product-title a {
	font-size: 0.7em;
	color: #000;
	font-weight: bold;
	transition: all 0.2s;
}
.product-texts {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 5px;
}
.product-texts i{
	color: #000;
}
.separator {
	width: 1px;
	height: 15px;
	background-color: #333;
	margin: 0 10px;
}
.pagination{
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}
.disabledPagination a{
	background: #585857;
	color: #fff;
	border-radius: 10px;
	padding: 10px 20px;
	cursor: not-allowed !important;
}
.previousBttn, .nextBttn {
	font-size: 1em;
	color: #000;
	font-weight: bold;
	padding: 10px 20px;
	margin: 8px;
	border: 1px solid #000;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s;
}
.previousBttn:hover, .nextBttn:hover {
	background: #d6da0b;
	color: #000;
}
.previousBttn:disabled, .nextBttn:disabled {
	background: #585857;
	color: #fff;
	cursor: not-allowed !important;
}
.pageLink{
	color: #fff;
	font-size: 1rem !important;
	font-weight: 500;
	text-decoration: none;
	padding: 10px 20px;
	margin: 5px;
	background-color: #000;
	border-radius: 10px;
	transition: all .3s;
}
.pageLink:hover{
	background-color: #d6da0b;
	color: #000;
}
.activePagination{
	background-color: #d6da0b;
	color: #000;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px 20px;
}
.activePagination:hover{
	color: #000;
}
/* Product Details */
.product-details{
	padding: 50px 0;
	background-color: #f6f7f9;
}
.content-section{
	display: flex;
}
.share-section{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.share-section ul{
	list-style: none;
	padding-left: 40px;
}
.share-section ul li{
	margin-bottom: 30px;
	background-color: #fff;
	padding: 10px;
	border-radius: 50%;
	border: 2px solid #000;
}
.share-section ul li a{
	color: #000;
	text-decoration: none;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
.thumbnail{
	height: 400px;
}
.thumbnail img{
	width: 500px;
	height: 100%;
	border-radius: 10px;
}
.text-data{
	margin-right: 20px;
}
/* NEWSLETTER */
.newsletter {
	background: linear-gradient(
		210deg,
		rgba(17, 188, 232, 1) 0%,
		rgba(50, 78, 161, 1) 100%
	);
	padding: 50px 0;
}
.newsletter-content h2{
	font-size: 2.5em;
	font-weight: bolder;
	font-family: Lalezar;
	margin-bottom: 20px;
	color: #fff;
}
.newsletter-form input{
	width: 60%;
	margin:  0 auto;
	height: 50px;
	font-weight: 600;
	font-size: 1.2em;
}
/* UPPER FOOTER */
.upper-footer {
	background: #fff;
	padding: 20px 0;
}
.footer-content{
	padding: 30px 0;
}
.footer-title{
	font-size: 1.2em;
	font-weight: bolder;
	font-family: Lalezar;
	margin-bottom: 10px;
}
.list-unstyled a{
	font-size: 0.9rem !important;
	transition: all 0.5s;
	font-weight: 600;
	color: #000;
}
.list-unstyled a:hover{
	color: #d6da0b !important;
}
.social-links i{
	font-size: 2rem;
	color: #000;
	transition: all 0.5s;
}
.social-links i:hover{
	color: #d6da0b;
}
.list-unstyled li a{
	color: #000;
}
/* FOOTER */
footer {
	background: #fff;
	padding: 10px 0;
	text-align: center;
}
.copyright-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	color: #fff;
}
footer a {
	margin-left: 5px;
	padding: 0 !important;
	color: #000 !important;
	font-size: 1.1rem !important;
}
footer a:hover{
	color: #d6da0b !important;
}